.main {
  min-height: 100vh;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #f6f6f4;
}

.profileImage {
  position: relative;
  width: 200px;
  height: 200px;
  clip-path: circle(50%);
}

.name {
  margin-top: 1rem;
  font-size: 2rem;
}

.text {
  margin-top: 1rem;
}

.name,
.description,
.text {
  text-align: center;
}

.socialMediaContainer {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.socialMediaContainer a {
  margin: 0 0.5rem;
  /* cursor: pointer; */
}

.socialMediaContainer a svg {
  width: 24px;
}
